#image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
#resume{
    margin-left: 20px;
}
button{
    width: 70px;
    height: 50px;
}